html, body {
    height: 100%;
 	margin:0 auto; 
}

iframe {
    overflow:hidden;
    border: none;
    display: inline-block;
    float: left;
}

#timeseries {
	height: 100%;
	width: 70%;
	min-width: 70%;
}

#doughnut {
	height: 100%;
	width: 30%;
	min-width: 30%;
}
