html,
body {
  width:100%;
  height:100%;
  margin:0 auto;
  background-color:rgba(19,15,15,0.79);
}

.left { float:left; }

.full-height {
  height:100%;
  min-height:100%;
  max-height:100%;
}

#main-contianer {
  width:70%;
  max-width:70%;
}

#weights-contianer {
  width:30%;
  max-width:30%;
}

canvas.chartjs {
  display:inline-block;
  max-height:100%;
  --options-responsive:true;
  content:'{"options":{"responsive":true}}';
  -content:'{"options":{"responsive":true}}';
}

canvas.chartjs.line {
  --data-datasets-0-background_color:rgb(158,1,66);
  --data-datasets-0-border_color:rgb(158,1,66);
  --data-datasets-0-fill:false;
  --data-datasets-0-line_tension:0;
  --data-datasets-1-background_color:rgb(213,62,79);
  --data-datasets-1-border_color:rgb(213,62,79);
  --data-datasets-1-fill:false;
  --data-datasets-1-line_tension:0;
  --data-datasets-2-background_color:rgb(244,109,67);
  --data-datasets-2-border_color:rgb(244,109,67);
  --data-datasets-2-fill:false;
  --data-datasets-2-line_tension:0;
  --data-datasets-3-background_color:rgb(253,174,97);
  --data-datasets-3-border_color:rgb(253,174,97);
  --data-datasets-3-fill:false;
  --data-datasets-3-line_tension:0;
  --data-datasets-4-background_color:rgb(254,224,139);
  --data-datasets-4-border_color:rgb(254,224,139);
  --data-datasets-4-fill:false;
  --data-datasets-4-line_tension:0;
  --data-datasets-5-background_color:rgb(255,255,191);
  --data-datasets-5-border_color:rgb(255,255,191);
  --data-datasets-5-fill:false;
  --data-datasets-5-line_tension:0;
  --data-datasets-6-background_color:rgb(230,245,152);
  --data-datasets-6-border_color:rgb(230,245,152);
  --data-datasets-6-fill:false;
  --data-datasets-6-line_tension:0;
  --data-datasets-7-background_color:rgb(171,221,164);
  --data-datasets-7-border_color:rgb(171,221,164);
  --data-datasets-7-fill:false;
  --data-datasets-7-line_tension:0;
  --data-datasets-8-background_color:rgb(102,194,165);
  --data-datasets-8-border_color:rgb(102,194,165);
  --data-datasets-8-fill:false;
  --data-datasets-8-line_tension:0;
  --data-datasets-9-background_color:rgb(50,136,189);
  --data-datasets-9-border_color:rgb(50,136,189);
  --data-datasets-9-fill:false;
  --data-datasets-9-line_tension:0;
  --data-datasets-10-background_color:rgb(94,79,162);
  --data-datasets-10-border_color:rgb(94,79,162);
  --data-datasets-10-fill:false;
  --data-datasets-10-line_tension:0;
  content:'{"data":{"datasets":[{"backgroundColor":"rgb(158,1,66)","borderColor":"rgb(158,1,66)","fill":false,"lineTension":0},{"backgroundColor":"rgb(213,62,79)","borderColor":"rgb(213,62,79)","fill":false,"lineTension":0},{"backgroundColor":"rgb(244,109,67)","borderColor":"rgb(244,109,67)","fill":false,"lineTension":0},{"backgroundColor":"rgb(253,174,97)","borderColor":"rgb(253,174,97)","fill":false,"lineTension":0},{"backgroundColor":"rgb(254,224,139)","borderColor":"rgb(254,224,139)","fill":false,"lineTension":0},{"backgroundColor":"rgb(255,255,191)","borderColor":"rgb(255,255,191)","fill":false,"lineTension":0},{"backgroundColor":"rgb(230,245,152)","borderColor":"rgb(230,245,152)","fill":false,"lineTension":0},{"backgroundColor":"rgb(171,221,164)","borderColor":"rgb(171,221,164)","fill":false,"lineTension":0},{"backgroundColor":"rgb(102,194,165)","borderColor":"rgb(102,194,165)","fill":false,"lineTension":0},{"backgroundColor":"rgb(50,136,189)","borderColor":"rgb(50,136,189)","fill":false,"lineTension":0},{"backgroundColor":"rgb(94,79,162)","borderColor":"rgb(94,79,162)","fill":false,"lineTension":0}]}}';
  -content:'{"data":{"datasets":[{"backgroundColor":"rgb(158,1,66)","borderColor":"rgb(158,1,66)","fill":false,"lineTension":0},{"backgroundColor":"rgb(213,62,79)","borderColor":"rgb(213,62,79)","fill":false,"lineTension":0},{"backgroundColor":"rgb(244,109,67)","borderColor":"rgb(244,109,67)","fill":false,"lineTension":0},{"backgroundColor":"rgb(253,174,97)","borderColor":"rgb(253,174,97)","fill":false,"lineTension":0},{"backgroundColor":"rgb(254,224,139)","borderColor":"rgb(254,224,139)","fill":false,"lineTension":0},{"backgroundColor":"rgb(255,255,191)","borderColor":"rgb(255,255,191)","fill":false,"lineTension":0},{"backgroundColor":"rgb(230,245,152)","borderColor":"rgb(230,245,152)","fill":false,"lineTension":0},{"backgroundColor":"rgb(171,221,164)","borderColor":"rgb(171,221,164)","fill":false,"lineTension":0},{"backgroundColor":"rgb(102,194,165)","borderColor":"rgb(102,194,165)","fill":false,"lineTension":0},{"backgroundColor":"rgb(50,136,189)","borderColor":"rgb(50,136,189)","fill":false,"lineTension":0},{"backgroundColor":"rgb(94,79,162)","borderColor":"rgb(94,79,162)","fill":false,"lineTension":0}]}}';
}

canvas.chartjs.timeseries {
  --data-throttle:1000;
  --options-scales-x_axes-0-id:x1;
  --options-scales-x_axes-0-intersect:false;
  --options-scales-x_axes-0-type:time;
  --options-scales-x_axes-0-grid_lines-color:rgba(102,102,102,0.2);
  --options-scales-y_axes-0-grid_lines-color:rgba(102,102,102,0.2);
  --options-scales-y_axes-0-grid_lines-zero_line_color:rgba(102,102,102,0.2);
  content:'{"data":{"throttle":1000},"options":{"scales":{"xAxes":[{"id":"x1","intersect":false,"type":"time","gridLines":{"color":"rgba(102,102,102,0.2)"}}],"yAxes":[{"gridLines":{"color":"rgba(102,102,102,0.2)","zeroLineColor":"rgba(102,102,102,0.2)"}}]}}}';
  -content:'{"data":{"throttle":1000},"options":{"scales":{"xAxes":[{"id":"x1","intersect":false,"type":"time","gridLines":{"color":"rgba(102,102,102,0.2)"}}],"yAxes":[{"gridLines":{"color":"rgba(102,102,102,0.2)","zeroLineColor":"rgba(102,102,102,0.2)"}}]}}}';
}

#main {
  --type:line;
  --options-title-text:Performance;
  --options-hover-mode:x;
  --options-hover-intersect:false;
  --data-datasets-0-point_radius:-1;
  --data-datasets-0-point_hit_radius:0;
  --data-datasets-0-point_hover_radius:0;
  --data-datasets-1-point_radius:5;
  --data-datasets-1-point_hit_radius:2;
  --data-datasets-1-show_line:false;
  --data-datasets-1-point_hover_radius:5;
  --data-datasets-1-point_hover_border_color:rgba(102,102,102,0.2);
  --data-datasets-2-point_radius:0;
  --data-datasets-2-point_hit_radius:-1;
  --data-datasets-2-point_hover_radius:0;
  --data-datasets-3-point_radius:0;
  --data-datasets-3-point_hit_radius:-1;
  --data-datasets-3-point_hover_radius:0;
  --data-datasets-4-point_radius:0;
  --data-datasets-4-point_hit_radius:-1;
  --data-datasets-4-point_hover_radius:0;
  content:'{"type":"line","options":{"hover":{"intersect":false,"mode":"x"},"title":{"text":"Performance"}},"data":{"datasets":[{"pointHitRadius":0,"pointHoverRadius":0,"pointRadius":-1},{"pointHitRadius":2,"pointHoverBorderColor":"rgba(102,102,102,0.2)","pointHoverRadius":5,"pointRadius":5,"showLine":false},{"pointHitRadius":-1,"pointHoverRadius":0,"pointRadius":0},{"pointHitRadius":-1,"pointHoverRadius":0,"pointRadius":0},{"pointHitRadius":-1,"pointHoverRadius":0,"pointRadius":0}]}}';
  -content:'{"type":"line","options":{"hover":{"intersect":false,"mode":"x"},"title":{"text":"Performance"}},"data":{"datasets":[{"pointHitRadius":0,"pointHoverRadius":0,"pointRadius":-1},{"pointHitRadius":2,"pointHoverBorderColor":"rgba(102,102,102,0.2)","pointHoverRadius":5,"pointRadius":5,"showLine":false},{"pointHitRadius":-1,"pointHoverRadius":0,"pointRadius":0},{"pointHitRadius":-1,"pointHoverRadius":0,"pointRadius":0},{"pointHitRadius":-1,"pointHoverRadius":0,"pointRadius":0}]}}';
}

canvas.chartjs.pie {
  --data-datasets-0-border_color:rgba(19,15,15,0.79);
  --data-datasets-0-background_color-0:rgb(158,1,66);
  --data-datasets-0-background_color-1:rgb(213,62,79);
  --data-datasets-0-background_color-2:rgb(244,109,67);
  --data-datasets-0-background_color-3:rgb(253,174,97);
  --data-datasets-0-background_color-4:rgb(254,224,139);
  --data-datasets-0-background_color-5:rgb(255,255,191);
  --data-datasets-0-background_color-6:rgb(230,245,152);
  --data-datasets-0-background_color-7:rgb(171,221,164);
  --data-datasets-0-background_color-8:rgb(102,194,165);
  --data-datasets-0-background_color-9:rgb(50,136,189);
  --data-datasets-0-background_color-10:rgb(94,79,162);
  content:'{"data":{"datasets":[{"borderColor":"rgba(19,15,15,0.79)","backgroundColor":["rgb(158,1,66)","rgb(213,62,79)","rgb(244,109,67)","rgb(253,174,97)","rgb(254,224,139)","rgb(255,255,191)","rgb(230,245,152)","rgb(171,221,164)","rgb(102,194,165)","rgb(50,136,189)","rgb(94,79,162)"]}]}}';
  -content:'{"data":{"datasets":[{"borderColor":"rgba(19,15,15,0.79)","backgroundColor":["rgb(158,1,66)","rgb(213,62,79)","rgb(244,109,67)","rgb(253,174,97)","rgb(254,224,139)","rgb(255,255,191)","rgb(230,245,152)","rgb(171,221,164)","rgb(102,194,165)","rgb(50,136,189)","rgb(94,79,162)"]}]}}';
}

#weights {
  position:relative;
  top:50%;
  transform:translateY(-50%);
  --type:doughnut;
  --options-title-display:true;
  --options-title-text:Position Weights;
  --data-datasets-0-data_type:LY;
  content:'{"type":"doughnut","options":{"title":{"display":true,"text":"Position Weights"}},"data":{"datasets":[{"dataType":"LY"}]}}';
  -content:'{"type":"doughnut","options":{"title":{"display":true,"text":"Position Weights"}},"data":{"datasets":[{"dataType":"LY"}]}}';
}

