canvas.chartjs {
  color:red;
  --type:line;
  --test-test-test:12;
  --test-test-tests-2:zwei;
  content:'{"type":"line","test":{"test":{"test":12,"tests":[null,null,"zwei"]}}}';
  -content:'{"type":"line","test":{"test":{"test":12,"tests":[null,null,"zwei"]}}}';
}

#x {
  --type:bar;
  --data-datasets-0-label:Test Data 0;
  --data-datasets-1-label:null;
  --data-datasets-1-background_color:#0000FF;
  --data-datasets-1-border_color:#0000FF;
  --data-datasets-2-label:null;
  --data-datasets-2-background_color:#FF0000;
  --test-test-tests-3:"drei";
  --test-test-tests-4:'vier';
  content:'{"type":"bar","data":{"datasets":[{"label":"Test Data 0"},{"backgroundColor":"#0000FF","borderColor":"#0000FF","label":null},{"backgroundColor":"#FF0000","label":null}]},"test":{"test":{"tests":[null,null,null,"drei","vier"]}}}';
  -content:'{"type":"bar","data":{"datasets":[{"label":"Test Data 0"},{"backgroundColor":"#0000FF","borderColor":"#0000FF","label":null},{"backgroundColor":"#FF0000","label":null}]},"test":{"test":{"tests":[null,null,null,"drei","vier"]}}}';
}

