.root {
    /*-fx-background-color: #333333;*/
}

#region {
    -fx-background-color: lightblue;
    -fx-background-radius: 6;
    -fx-background-insets: 10;
}

.chart {
    -fx-create-symbols: false;
}

.chart-legend {
   -fx-background-color:  #cccccc, #eeeeee;
   -fx-background-insets: 0,1;
   -fx-background-radius: 6,5;
   -fx-padding: 6px;
}

/*.chart-line-symbol {
    -fx-background-color: #f9d900, white;
    -fx-background-insets: 0, 2;
    -fx-background-radius: 5px;
    -fx-padding: 5px;
}*/

.chart-series-line {
    -fx-stroke-width: 2px;
    -fx-effect: null;
}
